<%= form_with(model: [@fish,@question], local: true) do |f| %>
    <div>
      <%= f.label :body, "質問フォーム表示" %><br>
      <%= f.text_field :title %>
      <%= f.text_area :body %>
    </div>
    <%= f.submit "投稿する" %>
  <% end %>
