<h1>Sellers#show</h1>
<p>Find me in app/views/sellers/show.html.erb</p>

<h1>ここは詳細</h1>


    <h1><%= @seller.sellername %>さん</h1>
    <%= attachment_image_tag @seller, :profile_image , fallback: "no-image.png" %>
    <h1><%= @seller.profile %></h1>
    <% if @seller.id  == current_seller.id %>
      <%= @seller.email %>
      <%= link_to "アカウント編集" , edit_seller_path(@seller) %>
    <% end %>

    <% @seller.fishs.each do |fish| %>
     <%= link_to fish_path(fish)  do %>
      <%= attachment_image_tag fish, :image %>
      <%= fish.fishname %>
      <h1>作成日<%= fish.created_at.to_s(:datetime_jp) %></h1>
      <h1>更新日<%= fish.updated_at.to_s(:datetime_jp) %></h1>
        <% if fish.seller_id == current_seller.id %>
          <%= link_to "魚編集", edit_fish_path(fish) %>
          <%= link_to "削除", fish_path(fish) , method: :delete, data:{confirm:"削除いいですか?"} %>
        <% end %>
     <% end %>


    <% end %>
