
<% @fishs.each do |fish|%>

  <%= link_to fish_path(fish) do %>
    <%= attachment_image_tag fish, :image, fallback: "no-image.png" %>
  <% end%>

  <%= link_to fish_path(fish) do %>
    <%= fish.fishname %>
  <% end%>

  <%= link_to seller_path(fish.seller.id) do %>
   <h1>販売者<%= fish.seller.sellername %>さん</h1>
  <% end%>

  <% if current_buyer.already_buyerfished?(fish) %>
    <%= link_to  fish_buyerfishs_path(fish) , method:  :delete do %>
     <i class="fas fa-heart"></i>
    <% end %>
  <% else %>
    <%= link_to fish_buyerfishs_path(fish) , method: :post do %>
     <i class="far fa-heart"></i>
    <% end %>
  <% end %>

  <%= fish.buyerfishs.count %>

<% end%>
