<div class="container mt-1">
  <div class="row">

    <% @fishs.each do |fish|%>
      <div class="col-md-2">
        <%= link_to fish_path(fish)  do %> <%#class:'img-fluid'で画像を被らないように↓%>
         <%= attachment_image_tag fish, :image, fallback: "no-image.png" , class:'img-fluid'%>
        <% end%>
     </div>
      <div class="col-md-1">
       <%= link_to fish_path(fish) do %>
        <%= fish.fishname %>
       <% end%>
      </div>
      <div class="col-md-1">
       <%= link_to seller_path(fish.seller.id) do %>
       販売者<%= fish.seller.sellername %>さん
       <% end%>
      </div>

      <%#<% if fish.seller_id != current_seller %>

      <div class="col-md-2">
<% if buyer_signed_in? %>
   <% if current_buyer.already_buyerfished?(fish) %>
     <%= link_to  fish_buyerfishs_path(fish) , method:  :delete do %>
    <i class="fas fa-heart"></i>
    <%= fish.buyerfishs.count %>
   <% end %>
 <% else %>
   <%= link_to fish_buyerfishs_path(fish) , method: :post do %>
    <i class="far fa-heart"></i>
    <%= fish.buyerfishs.count %>
   <% end %>

<%#<% else %>
 <% end %>
 <%#<% end %>
<% end %>
    </div>


    <% end %>

  </div>
</div>
