<div class="container-login">

<% if @fish.errors.any? %>
  <h2><%= pluralize(@fish.errors.count, "error") %> prohibited </h2>
  <% @fish.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
<% end %>

<div class="form-group">
<%= form_for @fish ,url: {action: 'create'}  do |f| %>
  <%= f.label :魚種名 %>
  <%= f.text_field :fishname, autofocus: true, autocomplete: "fishname",class: 'form-control',required: true,maxlength: '100' %>
  </div>

<div class="form-group">
  <%= f.label :詳細情報 %>
  <%= f.text_area :body, autofocus: true, autocomplete: "fishname",class: 'form-control',required: true,maxlength: '100'  %>
</div>

<div class="form-group">
  <%= f.label :画像 %>
  <%= f.attachment_field :image, autofocus: true, autocomplete: "fishname",class: 'form-control',required: true,maxlength: '100'  %>
</div>

<div class="form-group">
  <%= f.submit value="投稿する", class: 'btn btn-primary btn-block' %>
</div>
<% end %>
</div>
