<h1>Fishs#show</h1>
<p>Find me in app/views/fishs/show.html.erb</p>


 <%= @fish.fishname%>
 <%= attachment_image_tag @fish, :image %>
 <%= @fish.body %>
 <h1>作成日<%= @fish.created_at.to_s(:datetime_jp) %></h1>
 <h1>更新日<%= @fish.updated_at.to_s(:datetime_jp) %></h1>

 <% if buyer_signed_in? %>

  <% if current_buyer.already_buyerfished?(@fish) %>
   <%= link_to  fish_buyerfishs_path(@fish) , method:  :delete do %>
    <i class="fas fa-heart"></i>
   <% end %>
 <%= @fish.buyerfishs.count %>
  <% else %>
   <%= link_to fish_buyerfishs_path(@fish) , method: :post do %>
    <i class="far fa-heart"></i>
   <% end %>
   <%= @fish.buyerfishs.count %>
  <% end %>

 <% elsif seller_signed_in?  %>
  <% if @fish.seller_id == current_seller.id %>
   <%= link_to "編集", edit_fish_path(@fish) %>
   <%= link_to "削除", fish_path(@fish) , method: :delete, data:{confirm:"削除いいですか?"} %>
  <% end %>
  <%= @fish.buyerfishs.count %>


 <% end %>
