<!DOCTYPE html>
<html>
  <head>
    <title>Fishershop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice]%>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert]%>
      <p class="alert"><%= alert %></p>
    <% end %>

    <% if seller_signed_in? %>
      <div>?????</div>
      <%= link_to "セラーログアウト", destroy_seller_session_path , method: :delete %>
      <%= link_to "セラーアカウント削除", seller_registration_path , method: :delete ,data:{confirm:"本当にいいですか?"} %>

      <%= link_to "売人一覧", sellers_path %>
      <%= link_to "魚一覧", fishs_path %>
      <%= link_to "魚追加", new_fish_path %>
      <%= link_to "マイページ", seller_path(current_seller.id) %>

    <% elsif buyer_signed_in? %>
      <%= link_to "バイヤーログアウト", destroy_buyer_session_path , method: :delete %>
      <%= link_to "バイヤーアカウント削除", buyer_registration_path , method: :delete ,data:{confirm:"本当にいいですか?"} %>
      <%= link_to "売人一覧", sellers_path %>
      <%= link_to "魚一覧", fishs_path %>
      <%= link_to "バイヤーマイページ", buyer_path(current_buyer.id) %>
    <% else %>
      <div>?????</div>
      <%= link_to "セラー新規登録", new_seller_registration_path %>
      <%= link_to "セラーログイン", seller_session_path %>

      <%= link_to "バイヤー新規登録", new_buyer_registration_path %>
      <%= link_to "バイヤーログイン", buyer_session_path %>


      <%= link_to "売人一覧", sellers_path %>
      <%= link_to "魚一覧", fishs_path %>
    <% end %>


    <%= yield %>
  </body>
</html>
