<!DOCTYPE html>
<html>
  <head>
    <title>Fishershop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/484e6509e8.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <% if flash[:notice]%>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert]%>
      <p class="alert"><%= alert %></p>
    <% end %>



    <% if seller_signed_in? %>
      <div>?????</div>
      <%= link_to "セラーログアウト", destroy_seller_session_path , method: :delete %>
      <%= link_to "セラーアカウント削除", seller_registration_path , method: :delete ,data:{confirm:"本当にいいですか?"} %>

      <%= link_to "売人一覧", sellers_path %>
      <%= link_to "魚一覧", fishs_path %>
      <%= link_to "魚追加", new_fish_path %>
      <%= link_to "マイページ", seller_path(current_seller.id) %>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ホーム</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to  destroy_seller_session_path ,class: "nav-link", method: :delete do %>
              セラーログアウト
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to seller_registration_path ,class: "nav-link" , method: :delete ,data:{confirm:"本当にいいですか?"} do %>
              セラーアカウント削除
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to sellers_path, class: "nav-link" do %>
                 売人一覧
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to fishs_path, class: "nav-link" do %>
                魚一覧
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to new_fish_path , class: "nav-link" do %>
                魚追加
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to seller_path(current_seller.id) , class: "nav-link" do %>
                マイページ
              <% end %>
            </li>
           </ul>
          </div>
        </nav>


    <% elsif buyer_signed_in? %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">ホーム</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <%= link_to  destroy_buyer_session_path ,class: "nav-link", method: :delete  do %>
                バイヤーログアウト
                <% end %>
              </li>
              <li class="nav-item active">
                <%= link_to buyer_registration_path , class: "nav-link", method: :delete ,data:{confirm:"本当にいいですか?"} do %>
                バイヤーアカウント削除
                <% end %>
              </li>
              <li class="nav-item active">
                <%= link_to sellers_path, class: "nav-link" do %>
                売人一覧
                <% end %>
              </li>
              <li class="nav-item active">
                <%= link_to fishs_path, class: "nav-link" do %>
                 魚一覧
                <% end %>
              </li>
              <li class="nav-item active">
                <%= link_to buyer_path(current_buyer.id) , class: "nav-link" do %>
                   バイヤーマイページ
                <% end %>
              </li>
              </ul>
            </div>
          </nav>

    <% else %>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ホーム</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to  new_seller_registration_path, class: "nav-link" do %>
              セラー新規登録
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to seller_session_path, class: "nav-link" do %>
              セラーログイン
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to new_buyer_registration_path, class: "nav-link" do %>
              バイヤー新規登録
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to buyer_session_path, class: "nav-link" do %>
               バイヤーログイン
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to sellers_path, class: "nav-link" do %>
                 売人一覧
              <% end %>
            </li>
            <li class="nav-item active">
              <%= link_to fishs_path, class: "nav-link" do %>
                魚一覧
              <% end %>
            </li>
            </ul>
          </div>
        </nav>

    <% end %>


    <%= yield %>
  </body>
</html>
